/*! CSS Used from: http://localhost/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=3.3.5 */
.affpromos_latest_offers_widget.widget{background-color: #e6e9ec}
.affpromos_latest_offer_widget img{height:auto;max-width:100%;}
.affpromos_latest_offer_widget .offer-thumb-wrap{height:auto;max-width:100%;}
/*! CSS Used from: http://localhost/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=3.3.5 */
.affpromos_latest_offer_widget a.button{font-size:100%;margin:0;line-height:1;cursor:pointer;position:relative;text-decoration:none;overflow:visible;padding:.618em 1em;font-weight:700;border-radius:3px;left:auto;color:#515151;background-color:#ebe9eb;border:0;display:inline-block;background-image:none;-webkit-box-shadow:none;box-shadow:none;text-shadow:none;}
.affpromos_latest_offer_widget a.button:hover{background-color:#dad8da;text-decoration:none;background-image:none;color:#515151;}
.affpromos_latest_offer_widget a.button:disabled{color:inherit;cursor:not-allowed;opacity:.5;padding:.618em 1em;}
.affpromos_latest_offer_widget a.button:disabled:hover{color:inherit;background-color:#ebe9eb;}
/*! CSS Used from: http://localhost/wp-content/themes/ecommerce-gem/style.css?ver=4.9.5 */
.button:visited{color:#fff;}
/*.slick-slider .slick-slide:focus{outline:none;}*/
.affpromos_slick{padding-bottom: 55px !important;}
.affoffer{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
/*.widget-area ul li{padd{ing-bottom:5px;padding-left:20px;padding-top:5px;position:relative;}*/
/*.widget-area ul li::before{top:1px;}*/
.affpromos_latest_offer_widget span.affonsale-wrapper{
    position: absolute;
    height: 50px;
    width: 50px;
}
.affpromos_latest_offer_widget span.affonsale-text{transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    text-align: center;
    font-weight: 700;
    color: #fff;}
.affpromos_latest_offer_widget span.affonsale{background-color:#fa6161;position:absolute;top:-0.5px!important;left:-0.5px!important;height:50px;width:50px;color:#fff;font-size:14px;line-height:50px;text-align:center;font-weight:400;padding:0px;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
li.affoffer{padding-top: 10px !important;}
.affpromos_latest_offer_widget a.button{background-color:#fa6161;font-weight:400;border:1px solid #fa6161;color:#fff!important;opacity:1!important;border-radius:0px;}
.affpromos_latest_offer_widget a.button:hover{background:#2e2e2e!important;border-color:#2e2e2e!important;color:#fff!important;}
li.affoffer .affoffer-thumb-wrap,li.affoffer .affoffer-info-wrap{float:left;width:100%;}
.affoffer .affpromos_latest_offer_widget-loop-product__title{color:#0a0b0c;font-size:17px;font-weight:500;margin-bottom:0px;padding:0;}
.affoffer .price{color:#fa6161;display:block;width:100%;font-size:20px;font-weight:500;margin-bottom:15px;}
.affoffer .price del{color:#9d9d9d;margin-right:5px;font-size: 15px}
.affoffer .price ins{background:transparent;font-weight: 700}
.button.add_to_cart_button,a.button.add_to_cart_button{background:transparent;color:#fff;font-size:15px;font-weight:600;line-height:1;border:1px solid #fff;padding:15px 30px;margin-top:0px;}
.button.add_to_cart_button:hover{border-color:#2e2e2e;}
li.affoffer,li.affoffer .affoffer-thumb-wrap{position:relative;}
li.affoffer .affoffer-thumb-wrap img{width:100%;}
li.affoffer .affoffer-thumb-wrap{line-height:0;}
li.affoffer .affoffer-thumb-wrap:before{background:#fa6161;content:"";position:absolute;top:0;left:0;height:100%;width:100%;opacity:0;}
li.affoffer .add-to-cart-wrap{transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);position:absolute;top:50%;left:50%;opacity:0;width:100%;text-align:center;}
li.affoffer .affoffer-info-wrap{background:#fbfbfb;padding:10px 20px;position:relative;}
#home-page-widget-area li.affoffer .affoffer-info-wrap{background:#fff;}
li.affoffer:hover .add-to-cart-wrap{opacity:1;}
li.affoffer:hover .affoffer-thumb-wrap:before{opacity:0.8;}
li.affoffer:hover .affoffer-thumb-wrap:before,li.affoffer .affoffer-thumb-wrap:before,li.affoffer .add-to-cart-wrap,.button.add_to_cart_button,a.button.add_to_cart_button,.button.add_to_cart_button:hover{-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
@media only screen and (max-width:550px){
    .affpromos_latest_offer_widget span.affonsale{right:0!important;}
}
